.profile-btn{
    height:100%
}
mat-toolbar{
    background-color: rgb(6, 11, 32);
    color: white;
    border-bottom: 1px solid black;

}
mat-toolbar img{
    width:40px;
    max-height: 40px;
    border: radius 50%;
    border:1px solid transparent;
}