mat-sidenav-content {
    min-height: 100vh
}

mat-sidenav {
    max-width: 280px;
    background-color: rgb(45, 50, 72)
}

.logo {
    padding: 0 24px;
    background-color: rgb(30, 33, 41);
    color: hsla(0, 0%, 100%, 0.7);
    min-height: 64px;
}

.logo h3 {
    padding: 0;
    margin: 0;
    line-height: 64px;
}